name: Test run v2

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: say hello
        run: gh repo list Infoblox-CTO --limit 1098 | grep ddi | grep -v archived | awk '{print $1}' | sed 's/Infoblox-CTO\///' | grep ^ddi
        env:
          GH_TOKEN: ${{ github.token }}
