name: Create and Merge PR

on:
  push:
    branches:
      - main

jobs:
  create_and_merge_pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create PR
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

          
          git fetch origin
          git checkout -b pr-branch origin/main
          #git pull --rebase origin pr-branch
          git push -u origin pr-branch
          
          # Create PR using GitHub CLI (gh)
          gh pr create --base develop --head pr-branch --title "Automated PR from master to develop" --body "Automated PR created by GitHub Actions."

      - name: Merge PR if no conflicts
        run: |
          pr_number=$(gh pr list --base develop --head pr-branch --json number --limit 1 | jq -r '.[0].number')

          # Check for conflicts
          conflicts=$(gh pr merge $pr_number --squash --auto || echo "conflicts")

          if [ "$conflicts" != "conflicts" ]; then
            echo "No conflicts. Merging PR..."
            gh pr merge $pr_number --squash --auto
          else
            echo "Conflicts detected. PR will not be auto-merged."
          fi
