name: PR Description Validation

on:
  pull_request:
    types:
      - opened
      - synchronize
      - edited

jobs:
  validate-pr-description:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
      
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Validate PR description
      run: |
        template_file=".github/workflows/pull_request_template.md"
        pr_description_file="$GITHUB_EVENT_PATH"
        
        template=$(cat "$template_file")
        pr_description=$(jq -r .pull_request.body "$pr_description_file")
        
        echo "$template"
        echo "========="
        echo "$pr_description"
        
        if [[ "$pr_description" != "$template" ]]; then
          echo "PR description is not valid."
          exit 1
        else
          echo "PR description is valid."
        fi
