name: PR Description Check

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check PR description
        run: |
          template_path=".github/workflows/pull_request_template.md"
          pr_description=$(cat "$GITHUB_EVENT_PATH" | jq -r .pull_request.body)
          
          if [ -z "$pr_description" ]; then
            echo "PR description is empty. Please provide a description."
            exit 1
          fi

          if ! grep -qF "$(cat "$template_path")" <<< "$pr_description"; then
            echo "PR description does not contain the template content."
            exit 1
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
