name: PR Description Check

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  pr-description-check:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check PR description
        run: |
          pr_number=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
          pr_description=$(gh pr view $pr_number --json body --template '{{.body}}' | tr -d '[:space:]')
          echo "$pr_number"
          echo "$pr_description"
          if [ -z "$pr_description" ]; then
            echo "PR description is required. Please provide a description."
            exit 1
          else
            echo "PR description is present."
          fi
