name: Check PR Description

on:
  pull_request:
    types:
      - opened
      - synchronize
      - edited

jobs:
  check_pr_description:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check PR Description
        run: |
          pr_description=$(curl -sL "https://api.github.com/repos/${GITHUB_REPOSITORY}/pulls/${{ github.event.pull_request.number }}" | jq -r .body)
          pr_template=$(<.github/workflows/pull_request_template.md)

          if [[ ! "$pr_description" =~ "$pr_template" ]]; then
            echo "PR description does not match the template. Please follow the template provided."
            exit 1
          fi
